[submodule "project/App/DshanMCU_H7R_LVGL_Desktop/Appli/Middlewares_100ask/lv_100ask_ui"]
	path = project/App/DshanMCU_H7R_LVGL_Desktop/Appli/Middlewares_100ask/lv_100ask_ui
	url = https://gitee.com/weidongshan/lv_100ask_ui.git
[submodule "project/App/DshanMCU_H7R_LVGL_Desktop/Appli/Middlewares_100ask/lvgl"]
	path = project/App/DshanMCU_H7R_LVGL_Desktop/Appli/Middlewares_100ask/lvgl
	url = https://gitee.com/weidongshan/lvgl.git
	branch = release/v9.2
[submodule "project/App/DshanMCU_H7R_LVGL_Desktop/Appli/Middlewares_100ask/lv_lib_100ask"]
	path = project/App/DshanMCU_H7R_LVGL_Desktop/Appli/Middlewares_100ask/lv_lib_100ask
	url = https://gitee.com/weidongshan/lv_lib_100ask.git
